html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url(plant_background2.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.main {
  background-color: #ffffff;
  box-shadow: 2px 2px #264653;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}

.person {
    display: flex;
    align-items: center;
}

.person__picture {
    margin-right: 32px;
    border: solid 2px #264653;
    border-radius: 16px;
    box-shadow: 2px 2px #264653;
    width: 200px;
}

.person__info {
    margin-bottom: 24px;
}

.person__name {
    font-size: 36px;
    margin: 0;
    color: #f48c06;
    font-weight: normal;
}

.person__position {
    font-size: 18px;
    font-style: italic;
    margin:0;
}

.person__description {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.person__contact {
    margin: 0;
    display: flex;
    align-items: center;
}

.person__description--with-margin {
    margin-bottom: 22px;
}

.special {
    color: #f48c06;
    font-weight: normal;
}

.person__link {
    margin: 16px;
} 

.person__link--GH {
    width: 35px;
    height: 35px;
}
  
.person__link--IN {
    width: 35px;
    height: 35px;
}
  
.person__link--GH:hover {
    transform: scale(1.2);
}
  
.person__link--IN:hover {
    transform: scale(1.2);
}
  
